<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/jquery-2.1.4.js"></script>
    <script>
        $(function () {
            $("#logOn").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "../api/Admin/LogOn",
                    data: commFun.getValue(),
                    success: function (data) {
                        /*      $("#tokenStr").val(data.formatParams[0]); */
                        /*设置localStorage*/
                        localStorage.setItem('JwtBearer', data.formatParams[0]);
                        location.href = "Home.html"
                    }
                })
            });

        })
        var commFun = {
            getValue: function () {
                return {
                    LogoName: $("#logoName").val(),
                    Password: $("#Pwd").val()
                }
            }
        }

    </script>
</head>

<body>
    <fieldset style="width:300px;  margin:100px auto 0;">
        <legend>用户登录</legend> 
        <div style="margin-top: 10px">姓名 <input type="text" id="logoName" /></div>
        <div style="margin-top: 10px">密码 <input type="text" id="Pwd" /></div>
        <div style="margin-top: 10px">
            <input type="button" id="logOn" value="登陆" />
            <input type="button" id="reg" value="注册" />
        </div>

    </fieldset>
    <!-- <div style="width:300px; margin:100px auto 0;">
        token <textarea id="tokenStr" style="width:300px; height: 100px;"></textarea>
    </div> -->

</body>

</html>